.m-table {
    border-collapse: collapse;
    width: 100%;
}
.m-table tr td {
    border: 1px solid #00000029;
    padding: 6px;
    border-left-color: transparent;
    border-right-color: transparent;
    padding-right: 32px;
    position: relative;
}
.m-table tbody tr:nth-child(even) {
    background-color: #e9e6e65c;
}
.m-table tbody tr:hover {
    cursor: pointer;
    background-color: #b4afaf5c;
}
.m-table tr th {
    border: 1px solid #00000029;
    padding: 6px;
    color: #fff;
    padding-right: 32px;
    background-color: #8f5c1e;
}
.info-rank {
    display: none;
    padding: 20px;
    position: absolute;
    background: white;
    top: 0;
    right: -127%;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 1px 1px 3px #00000078;
}
#rank1:hover  #rank1-c {
    display: inline-block;
    transition: 1s;
}
#rank2:hover  #rank2-c {
    display: inline-block;
    transition: 1s;
}
#rank3:hover  #rank3-c {
    display: inline-block;
    transition: 1s;
}
.gift {
    font-size: 15px;
}
.gift-c {
    font-size: 12px;
}