<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Fimaly - SV3</title>
</head>
<body>
    <div class="container" style="padding-bottom: 50px;">
        <div style="text-align: center;">
            <p class="title" style="font-size: 23px;
            font-weight: 600;
            margin-bottom: 39px;"><input type="text" id="input-title"  style="width: 300px;
    padding: 5px;"/></p>

            <div style="position: relative; left: 50%; transform: translateX(-50%);max-width: 1024px;">
                <div>
                    <div style="    word-wrap: break-word;
                    text-align: left;
                    line-height: 27px;">
                        <p>Thông báo: <textarea id="input-note" rows="5" cols="50" style="line-height: 30px;"></textarea></p>
                    </div>
                    <table class="m-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên nhân vật</th>
                                <th>Chức vụ</th>
                                <th>Điểm cống hiến</th>
                                <th>Điểm cống hiến tuần</th>
                                <th>Quyên góp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="my-tbody">
                        </tbody>
                    </table>
                </div>
                
            </div>
            <button id="btn" >Lưu</button>
            <button id="btn-add" >Thêm mới</button>
        </div>
        
    </div>
    <script>
        const us_id = 1;
        let handlerSelect = (position) => {
            if (!position || parseInt(position.value) >= 4) {
                return `
                    <select class="position" value="4" selected>
                        <option value="1" >Thần hủy diệt</option>
                        <option value="2" >Thiên sứ</option>
                        <option value="3" >Thần sáng tạo</option>
                        <option value="4" selected>Thành viên</option>
                    </select>
                `
            }

            let str = `
                <select class="position" value="${position.value}" selected>
                        ${position.value == 1 ? '<option value="1" selected>Thần hủy diệt</option>' : '<option value="1" >Thần hủy diệt</option>'}
                        ${position.value == 2 ? '<option value="2" selected>Thiên sứ</option>' : '<option value="2" >Thiên sứ</option>'}
                        ${position.value == 3 ? '<option value="3" selected>Thần sáng tạo</option>' : '<option value="3" >Thần sáng tạo</option>'}
                        <option value="4" >Thành viên</option>
                </select>
            `;
            return str;
        }
        let init = () => {

            $.get(`https://ballgateway.herokuapp.com/us/${us_id}`, (res => {
                if (res.status && res.data) {
                    let title = document.getElementById('input-title');
                    title.value = res.data.title;
                    let note = document.getElementById('input-note');
                    note.value = res.data.note;

                    if (res.data.members && res.data.members.length) {
                        res.data.members.forEach((item, index) => {
                            let element = `
                            <tr id="${index +1}">
                                    <td style="text-align: center;">
                                        <input type="number" dtyle="width: 50px;" class="stt" value="${item.stt}"/>
                                    </td>
                                    <td><span class="username">${item.name}</span></td>
                                    <td>
                                        ${handlerSelect(item.position)}
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="score" type="number"  value="${item.score}"/>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="weekScore" type="number"  value="${item.weekScore}"/>
                                    </td>
                                    <td>
                                        <input class="ball" type="number"  value="${item.ballz}"/>
                                    </td>
                                    <td>
                                        <button onclick="deleteItem(${index + 1})">Xóa</button>
                                    </td>
                                </tr>
                            `;
                            $('.my-tbody').append(element);
                        });
                    }
                }
            }));
        };
        function check() {
            let button = document.getElementById('btn');
            button.addEventListener('click', () => {
               let usernames = document.getElementsByClassName('username');
               let positions = document.getElementsByClassName('position');
               let scorces = document.getElementsByClassName('scorce');
               let balls = document.getElementsByClassName('ball');
               let users = [];
               if (usernames && usernames.length) {
                   for (let i = 0; i < usernames.length; i++) {
                    let obj = {
                           name: usernames[i].innerHTML || usernames[i].innerText || username.value,
                           position: positions[i].value,
                           scorce: scorces[i].value,
                           ballz: balls[i].value
                       }
                       users.push(obj);
                   }
               }
               console.log('user ',users);
            })
            
        }
        function deleteItem(index) {
            index = parseInt(index);
            $("#"+index).remove();
        }
        $(document).ready(function(){
            init();
            let usernames = document.getElementsByClassName('username');
            let count = usernames.length;
            $("#btn-add").click(function(){
                console.log('click');
                let item = `
                    <tr id=${count + 1}>
                        <td style="text-align: center;"><input type="number" dtyle="width: 50px;" class="stt" value="${count + 1}"/></td>
                        <td><input type="text" class="username" /></td>
                        <td>
                            <select class="position">
                                <option value="1" >Thần hủy diệt</option>
                                <option value="2" >Thiên sứ</option>
                                <option value="3" >Thần sáng tạo</option>
                                <option value="4" selected>Thành viên</option>
                            </select>
                        </td>
                        <td style="text-align: center;"><input type="number" class="score" /></td>
                        <td style="text-align: center;"><input type="number" class="weekScore" /></td>
                        <td><input type="number" class="ball" /></td>
                        <td>
                            <button onclick="deleteItem(${count + 1})">Xóa</button>   
                        </td>
                    </tr>
                `;
                count = count +1;
                $(".my-tbody").append(item);
            });
            $('#btn').click(() => {
                let stt = document.getElementsByClassName('stt');
                let usernames = document.getElementsByClassName('username');
                let positions = document.getElementsByClassName('position');
                let scores = document.getElementsByClassName('score');
                let weekScores = document.getElementsByClassName('weekScore');
                let balls = document.getElementsByClassName('ball');
                let users = [];
                if (usernames && usernames.length) {
                    for (let i = 0; i < usernames.length; i++) {
                        let obj = {
                            stt: parseInt(stt[i].value),
                            name: usernames[i].innerHTML || usernames[i].innerText || usernames[i].value,
                            position: {
                                value: parseInt(positions[i].value),
                                name: parseInt(positions[i].value) == 1 ? 'Thần hủy diệt' : parseInt(positions[i].value) == 2 ? 'Thiên sứ' : parseInt(positions[i].value) == 3 ? 'Thần sáng tạo' : 'Thành viên'
                            },
                            score: parseInt(scores[i].value),
                            weekScore: parseInt(weekScores[i].value),
                            ballz: parseInt(balls[i].value)
                        }
                        users.push(obj);
                    }
                }
                let title = $('#input-title').val();
                let note = $('#input-note').val();
                let postData = {
                    us_id,
                    title,
                    note,
                    members: JSON.stringify(users) 
                };
                $.post("https://ballgateway.herokuapp.com/update", postData, function(result){
                    if (result.status) {
                        window.location.href="/";
                    }
                });
            });
            
        });
        //window.onload = check;
    </script>
</body>
</html>