<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Fimaly - SV3</title>
</head>
<body>
    <div class="container" style="padding-bottom: 50px;">
        
        
        <div style="text-align: center;">
            <p id="title" style="font-size: 23px;
            font-weight: 600;
            margin-bottom: 39px;"></p>

            <div style="position: relative; left: 50%; transform: translateX(-50%);max-width: 1109px;">
                <div>
                    <div style="    word-wrap: break-word;
                    text-align: left;
                    line-height: 27px;">
                        <p>Thông báo: <i id="note"></i></p>
                    </div>
                    <table class="m-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên nhân vật</th>
                                <th>Chức vụ</th>
                                <th>Điểm cống hiến</th>
                                <th>Điểm cống hiến tuần</th>
                                <th>Đóng góp tuần </th>
                                <th>Tổng đóng góp</th>
                            </tr>
                        </thead>
                        <tbody id ="m-tbody">
                        </tbody>
                    </table>
                    <div id="m-loading" style="text-align: center;
                    margin-top: 20px;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p>Đang tải dữ liệu vui lòng chờ...</p>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    <script>
        let selectImageRank = (index, item) => {
            if (index > 3) return '';
            
            let str = '';

            switch (index) {
                case 1:
                    str = `<image width = '20' height = "25" src="image/rank1-2.png" style="margin-left: 5px;" title="Rank 1" > 
                        <div  id="rank1-c" class="info-rank">
                            <p class="font-weight-bold text-center">Hạng 1</p>
                            <p>${item.name}  (${item.position.name})</p>
                            <p class="gift">Phần thưởng: <span class="gift-c">chưa cập nhật</span><p>
                        </div>`;
                    break;
                case 2:
                    str = `<image width = '20' height = "25" src="image/rank2-2.png" style="margin-left: 5px;" title="Rank 2" >
                            <div id="rank2-c" class="info-rank">
                                <p class="font-weight-bold text-center">Hạng 2</p>
                                <p>${item.name}  (${item.position.name})</p>
                                <p class="gift">Phần thưởng: <span class="gift-c"><i>chưa cập nhật</i></span><p>
                            </div>`;
                    break;
                case 3:
                    str = `<image width = '20' height = "25" src="image/rank3-2.png" style="margin-left: 5px;" title="Rank 3" >
                            <div id="rank3-c" class="info-rank">
                                <p class="font-weight-bold text-center">Hạng 3</p>
                                <p>${item.name}  (${item.position.name})</p>
                                <p class="gift">Phần thưởng: <span class="gift-c">chưa cập nhật</span><p>
                            </div>`;
                    break;
            }

            return str;
        };
        let selectImage = (position) => {
            if (!position || position >= 4) return '';
            let str = '';
            switch (position){
                case 1:
                    str = `<image width = '20' height = "20" src="image/desGod.png" style="transform:translateY(0);margin-left: 5px;">`;
                    break;
                case 2:
                    str = `<image width = '20' height = "20" src="image/angel.png" style="transform:translateY(0);margin-left: 42px;">`;
                    break;
                case 3:
                    str = `<image width = '20' height = "20" src="image/createGod.png" style="transform:translateY(0);">`;
                    break;
            }
            return str;
        }
        let init = () => {
            const us_id = 1;

            $.get(`https://ballgateway.herokuapp.com/us/${us_id}`, (res => {
                if (res.status && res.data) {
                    let title = document.getElementById('title');
                    title.innerText = res.data.title;
                    let note = document.getElementById('note');
                    note.innerHTML = res.data.note;

                    if (res.data.members && res.data.members.length) {
                        res.data.members.forEach((item, index) => {
                            let element = `
                                <tr>
                                    <td style="text-align: center;" >${index + 1}</td>
                                    <td style="font-weight:600" id="${index <= 2 ? 'rank'+ (index + 1) : ''}">
                                        ${item.name}
                                        ${selectImageRank(index+1, item)}
                                    </td>
                                    <td>${item.position ? item.position.name : ''}
                                        &nbsp&nbsp
                                        ${selectImage(parseInt(item.position ? item.position.value :null))}
                                    </td>
                                    <td style="text-align: center;">${item.score ? item.score : 0}</td>
                                    <td style="text-align: center;">${item.weekScore ? item.weekScore : 0}</td>
                                    <td>${item.weekBallz ? item.weekBallz : 0} Ballz</td>
                                    <td>${item.ballz ? item.ballz : 0} Ballz</td>
                                </tr>
                            `;
                            $('#m-tbody').append(element);
                        });
                        $('#m-loading').hide();
                    }
                }
            }));
        };
        $('document').ready(() => {
            init();
        })
    </script>
</body>
</html>